<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">
    <!-- Add content here -->
    <div>Welcome to your Spring Boot with Thymeleaf project!</div>
    <div>See <code>HELP.md</code> for instructions on how to get started.</div>
    <div id="container" class="w-full"></div>
    <div id="graph-container" class="max-w-full mx-auto sm:max-w-4xl bg-white p-4 pt-5 pb-2 rounded-lg border-gray-200 shadow">
        <div class="" id="magnitude-plot"></div>
        <div class="" id="phase-plot"></div>
    </div>
</div>

<th:block layout:fragment="script-content">
    <script type="text/javascript" th:src="@{/webjars/highcharts/code/highcharts.js}"></script>
    <script type="module" th:src="@{/js/result-plot.js}"></script>
</th:block>
</body>
</html>
